node_modules
**/node_modules
/node_modules
/client/node_modules
/server/node_modules

.env
.env.local
.env.*.local

/build
/dist
**/dist

.vscode
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
